<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
		
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Watchful Care</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>

#watermark
{
 position:fixed;
 bottom:5px;
 right:5px;
 opacity:0.5;
 z-index:99;
 color:white;

}
.watermark::after {
  content: "";
  background: url(home4.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
body{
    height: 100%;
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}
    </style>
</head>
<body class="watermark" style="padding-top: 70px; background-color: rgb(181, 47, 87);">
        <nav class="navbar navbar-default navbar-fixed-top" >
				<div class="container" >
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#navbar" aria-expanded="false"
								aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
			
						<a class="navbar-brand" href="#" th:href="@{/}">Watchful Care</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li>
								<a href="listAllPatients" th:href="@{/listAllPatients}" >Patients</a>
							</li>
						</ul>
						
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" 
									role="button" aria-haspopup="true" aria-expanded="false">User<span class="caret"></span>
								</a>
								
								<ul class="dropdown-menu">
									<li><a href="#" th:href="@{/settings}">Settings</a></li>
									<li><a href="#" th:href="@{/}">Log Out</a></li>
								</ul>
							</li>
						</ul>
					</div>
	
				</div>
				
        </nav>
        <div class="container">
                <p style="font-size:1.5vw; color: white;" th:text="'Name: ' + ${name}" />
				<p style="font-size:1.5vw; color: white;" th:text="'Date: ' + ${date}" />
                <!--<p style="font-size:1.5vw; color: white;" th:text="'datetime: ' + ${datetime}" />--> 
		</div>

    <br/>
    <div class="container">
                <p style="font-size:1.5vw; color: white;" th:text="'Min BPM: ' + ${bpm_min}" />
                <p style="font-size:1.5vw; color: white;" th:text="'Max BPM: ' + ${bpm_max}" />
                <p style="font-size:1.5vw; color: white;" th:text="'Mean BPM: ' + ${bpm_mean}" />
                <!--<p style="font-size:1.5vw; color: white;" th:text="'datetime: ' + ${datetime}" />--> 
	</div>
    <div id="chartContainer_Temperature" style="height: 300px; width: 100%;"></div> 

    <br/>
    <div class="container">
                <p style="font-size:1.5vw; color: white;" th:text="'Min Temperature: ' + ${temp_min}" />
                <p style="font-size:1.5vw; color: white;" th:text="'Max Temperature: ' + ${temp_max}" />
                <p style="font-size:1.5vw; color: white;" th:text="'Mean Temeperature: ' + ${temp_mean}" />
                <!--<p style="font-size:1.5vw; color: white;" th:text="'datetime: ' + ${datetime}" />--> 
	</div>
    
    <div id="chartContainer_BPM" style="height: 300px; width: 100%;"></div> 


</body>


<script th:inline="javascript">
  
    
    //see here
    var datetime_BPM = /*[[${tempos}]]*/ 'default';
    var BPM = /*[[${bpms}]]*/ 'default';
    var dataPoints_BPM = [];
    
    for (var i = 0; i < BPM.length; i++) {
      dataPoints_BPM.push({
          label: datetime_BPM[i],
          y: BPM[i]
      });
    }

    
    var chart1 = new CanvasJS.Chart("chartContainer_Temperature", {
        theme: "light2",

        title: {
            text: "BPM"
        },
        data: [{
            type: "line",
            color: "aquamarine",
            dataPoints: dataPoints_BPM

        }]
    });
 

    chart1.render();


    var Temp_C = /*[[${temps}]]*/ 'default';
    var datetime_Temp = /*[[${times}]]*/ 'default';
    var dataPoints_Temp = [];
    for (var i = 0; i < Temp_C.length; i++) {
      dataPoints_Temp.push({
          label: datetime_Temp[i],
          y: Temp_C[i]
      });
    }
    var chart2 = new CanvasJS.Chart("chartContainer_BPM", {
        theme: "light2",

        title: {
            text: " Temperature"
        },
        data: [{
            type: "line",
            color: "aquamarine",
            dataPoints: dataPoints_Temp
        }]
    });

    chart2.render();

</script>
</html>